@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>База компаний</title>
</head>
<body>
    <div>
          <h3>Добро пожаловать</h3>  

          <div>


              <ul>
                  <li><a href="/Home/Companies/@b.Id">Список компаний</a></li>
                  <li><a href="/Home/Employees/@b.Id">Список сотрудников</a></li>
              </ul>
          </div>    
          
    </div>
    <div>

    </div>

</body>
</html>
